:root {
  --background: #ffffff;
  --secondry: #BFFF37;
  --primary: #A2ABF6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e2033;
    --foreground: #ededed;
    --primary: #A2ABF6;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: var(--primary);
  font-size: 18px;
  margin: 10 0;
  font-weight: 500;
}

h3 {
  font-size: 28px;
  margin: 15px 0;
  color: #A2ABF6;
  font-weight: 600;
}

/* Grid Layout */
.wraper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 30px;
  padding: 20px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Event Card  */
.event_card {
  font-size: 18px;
  color: #A2ABF6;

}

.event_card .img {
  width: 100%;
  height: 220px;
  border-radius: 16px;
}

.event_card .footer {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.footer span {
  padding-left: 5px;
}



/* team Card  */
.team-card {
  display: flex;
  margin: 0 auto;
  text-align: center;
  color: #A2ABF6;

}

.team-content img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.team-loc-time {
  font-size: 13px;
  font-weight: 400;
}


/* Post card */

.post-card {
  background-color: #ffffff;
  border-radius: 16px;
  
}
.post-card img {
  width: 100%;
  height: auto;
  border-radius: 16px;
}
.post-card .date {
  color: #1E2033;
}
.post-content {
  padding: 20px;
}
.post-content h3 {
  color: #1E2033;
  font-size: 24px;
  font-weight: 500;
}

.post-content p{
  color: #565866;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
}

.card-buttons {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    color: #1E2033;
}
.card-button {
    background-color: #9539F2; 
    color: white;
    padding: 7px 12px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    margin-right: 10px;

}
