:root {
  --background: #ffffff;
  --secondry: #BFFF37
  --primary: #A2ABF6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e2033;
    --foreground: #ededed;
     --primary: #171717;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  color: var(--primary);
   font-size: 18px;
}

a:hover {
  color: var(--secondry);

}

/* Card Title */
h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
}

/* Grid Layout */
.wraper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 30px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Event Card  */

.event_card {
  font-size: 18px;

}
.event_card h3 {
 color: var(--secondry);
}

.event_card p {
  color: red;
}
.event_card .img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 16px;
}
.event_card .footer {
  display: flex;
  gap: 20px;
}
.event_card .footer {
  background: red;
}
.event_card .footer .icon {
  color: #a2abf6;
  font-size: 1rem;
}

/* End Event Card  */
